<h1> Changes </h1>


<% @all_changes.each do |hash| %>
    <% hash.each do |key, value| %>
        <% if not value.kind_of?(Array) %>
            <p><strong> <%= key %> : </strong> <%= value %></p>
        <% elsif value.length() ==2 %>
            <p><strong> <%= key %> : </strong> <%= value[1] %></p>
        <% end %>
    <% end %>
<% end %>

